* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-color: #f0f2f5;
}
.login-main {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 10px;
    background-color: white;
}
.layui-form-label {
    width: 65px;
}
.layui-input-block {
    margin-left: 100px;
}
.layui-input, .layui-textarea {
    border: none;
}
.layui-btn {
    width: 70%;
}
